*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.caja{
    width: 100%;
    height: 600px;
    background-color: orange;
    margin-top: 90px;
    padding-top: 60px;
}
.titulo{
    width: 1200px;
    height: 50px;
    text-align: left;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}
.caja_datos{
    width: 1200px;
    height: 50px;
    margin: auto;
    border: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    border-style: solid;
}
.caja_1{
    width: 720px;
    height: 48px;
    display: inline-block;
    font-size: 20px;
    padding-top: 5px;
    margin-left: 20px;
    font-family: 'Baloo 2', cursive;
}
.caja_2{
    width: 220px;
    height: 48px;
    display: inline-block;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
.caja_3{
    width: 220px;
    height: 48px;
    display: inline-block;
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
} 
